body {
    width: 100%;
    height: 100%;
    margin: 0; 
    font-family: 'Inter', sans-serif;
    font-family: 'PT Serif', serif;   
}


.card {
    background-color: cornsilk;
    padding: 8px;
    margin: 8px;
    height: 260px;
    width: 600px;
    font-size: 18px;
    border: 1px solid cornsilk;
    border-radius: 32px;
}

h1 {
    text-align: center;
    color: brown;
   }

h2 {
    color: #FF7145;
}

section {
    display: flex;
    flex-wrap: wrap;
}



